body {
	background-color: lightgray;
}
header {
	width: 100vw;
	height: 20vh;
	background-color: darkslategrey;
}
.white {
	width: 70vw;
	height: 70vh;
	background-color: aliceblue;
	margin: 0 auto;
}
footer {
	width: 70vw;
	height: 10vh;
	background-color: black;
	margin: 0 auto;
}
